// main color
$third: #f5db13;
$primary: #f2b807;
$second: #f28f16;
$danger: #d93e30;
$white: #f2f2f2;
$dark: #212121;

// button
$greenBtn: #73d677;
$yellowBtn: #f2cb07;

// pokemon card
$statItem: #4b4b4b;
$cardBackground: #b33327;

// pokemons type
$grayType: #a1a1a1;
$greenType: #70a83b;
$blueType: #a2cff0;
$redType: #f76545;
$darkBlue: #76aadb;
$velvetType: #a974bc;
$brown: #9b897b;
$yellowType: #f7c545;
