@import '../../styles/variables';

.content__wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
  overflow: hidden;
}

.content__home {
  display: flex;
  padding-top: 120px;
}

.content__text {
  max-width: 516px;
}

.content__title {
  margin-bottom: 44px;
}

.content__subtitle {
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 44px;
}

.content__parallax {
  width: 50%;
}
