.root {
  font-family: 'karla';
}

h1 {
  font-family: 'karla';
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
}

h2 {
  font-family: 'karla';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
}

h3 {
  font-family: 'karla';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
