.contentPokedex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 120px;
}

.mainTitle {
  text-align: center;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
}

.cardWrapper {
  display: flex;
  margin-right: 21px;

  &:last-child {
    margin-right: 0;
  }
}

.contentInputWrap {
  width: 100%;
  margin-bottom: 34px;
}
.contentInput {
  width: 95%;
  box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
  border-radius: 40px;
  background: #f2f2f2;
  outline: none;
  border: none;
  padding: 17px 24px;
  font-size: 16px;
  line-height: 20px;
}
